@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

@media screen and (max-width: 600px){
    .place{
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
}

.place .camera{
    width: 100%;
    height: 27.5rem;
    border-radius: 7px;
    /* border: 2px solid #ccc; */
    box-shadow: 0 0 5px var(--bx-s-lelf);
    background: var(--bg-left-img-scan);
}

.place .camera img{
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-scan-qr{
    width: 100%;
    max-width: 410px;
    background: var(--bg-color-scanner);
    border-radius: 7px;
    padding: 15px 25px;
    overflow: hidden;
    box-shadow: 0 0 5px var(--bx-s-lelf);
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* -------------- Nav ------------ */

.div-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.div-nav button{
    width: calc(100% / 2 - 5px);
    font-size: 1.2rem;
    text-align: center;
    height: 45px;
    letter-spacing: 2px;
    border-bottom: 2px solid #ccc;
    color: var(--color-txt-no-active);
    opacity: 0.5;
}

.div-nav button.active{
    border: 0px solid var(--color-btn-active-scan);
    box-shadow: 0 0 4px var(--color-btn-active-scan);
    border-radius: 7px;
    font-weight: 700;
    width: 100%;
    color: var(--color-btn-active-scan);
    opacity: 1;
}

::-webkit-scrollbar{
    display: none;
}