@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.footer-permission{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
}

.container-frm{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin-left: -2rem;
    /* background: green; */
    background: var(--bg-color);
    box-shadow: var(--color-bx-s-permission);
}

.container-frmConge{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin-left: -2rem;
    /* background: green; */
    background: var(--bg-color);
    box-shadow: var(--color-bx-s-permission);
}

.container-frm header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container-frm form{
    position: relative;
    margin-top: 16px;
    min-height: 700px;
    /* background: yellow; */
    background: var(--bg-color);
    overflow: hidden;
}

.container-frmConge form{
    position: relative;
    margin-top: 16px;
    min-height: 500px;
    /* background: yellow; */
    background: var(--bg-color);
    overflow: hidden;
}


.container-frm form .form{
    position: absolute;
    background: var(--bg-color);
    /* background: red; */
    transition: 0.3s ease;
}

.container-frm form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container-frm form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container-frm form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field textarea{
    height: 9rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid #999;
    color: var(--color-txt-textarea);
    padding: 13px;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input{
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}

.container-frm form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background: #4070f4;
    cursor: pointer;
    transition: all 0.3s linear;
}

.container-frm form button, 
.container-frm form .backBtn{
    font-size: 14px;
    font-weight: 400;
}

form button:hover{
    background: #265df2;
}

form button i,
form .backBtn i{
    margin: 0 8px;
}

form .backBtn i{
    transform: rotate(180deg);
}

form .buttons{
    display: flex;
    align-items: center;
}

form .buttons button, .backBtn{
    margin-right: 14px;
}

/* ------------------------------- Content Vos Permission --------------------------- */

.permission{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
}

.permission .todo-item .txt-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.date-tim{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.validation{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-time-date-validation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
}

.oui-nom{
    background: var(--bg-oui-non);
    color: var(--color-oui-non);
    padding: 0 0.5rem;
    border-radius: 9px;
    margin-bottom: 0.3rem;
    font-weight: 400;
}

.QR-icon .icon, .suppr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
}

#content main .table-date{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 10px;
    width: 100%;
    color: var(--dark);
}

#content main .table-date > div {
    background: var(--bg-color);
    overflow: auto;
}

.todo-color{
    color: var(--color-txt-textarea);
}

#content main .table-date .todo{
    flex-grow: 1;
    flex-basis: 300px;
}

#content main .table-date .todo .todo-list{
    width: 100%;
}

#content main .table-date .todo .todo-list li{
    width: 100%;
    margin-bottom: 3px;
    background: var(--body-color);
    border-radius: 7px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ----------------------------------------------------------------------------------------------------------- */

@media (max-width: 765px){
    form .fields .input-field{
        width: 100%;
    }
    .container-frm form{
        overflow-y: scroll;
    }
    .container-frm form::-webkit-scrollbar{
        display: none;
    }
}

@media (max-width: 550px){
    form .fields .input-field{
        width: 100% ;
    }
}